<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <proxies>
    <proxy>
      <id>default</id>
      <active>${env.MAVEN_PROXY_ACTIVE}</active>
      <protocol>http</protocol>
      <host>${env.MAVEN_PROXY_HOST}</host>
      <port>${env.MAVEN_PROXY_PORT}</port>
      <nonProxyHosts>${env.MAVEN_NON_PROXY_HOSTS}</nonProxyHosts>
    </proxy>
  </proxies>
</settings>
