<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!--
    Прокси-сервер (host «proxy», порт 8080) включается только при явной передаче
    системного свойства visitmanager.proxyEnabled=true в командной строке Maven.
    Это позволяет выполнять локальные сборки без проксирования и при необходимости
    активировать его флагом `-Dvisitmanager.proxyEnabled=true`.
  -->
  <proxies>
    <proxy>
      <id>container-http</id>
      <active>${sys.visitmanager.proxyEnabled:-false}</active>
      <protocol>http</protocol>
      <host>proxy</host>
      <port>8080</port>
      <nonProxyHosts>localhost|127.0.0.1</nonProxyHosts>
    </proxy>
    <proxy>
      <id>container-https</id>
      <active>${sys.visitmanager.proxyEnabled:-false}</active>
      <protocol>https</protocol>
      <host>proxy</host>
      <port>8080</port>
      <nonProxyHosts>localhost|127.0.0.1</nonProxyHosts>
    </proxy>
  </proxies>
</settings>
