<configuration>
    <variable file="loki.properties"  />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">

                <maxLength>13</maxLength>

            </throwableConverter>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>


<!--    <property  name="LOKI_URL" value="http://192.168.3.13:3100/loki/api/v1/push"/>-->

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>

<!--            <url>${LOKI_URL}</url>-->
            <url>http://192.168.8.45:3100/loki/api/v1/push</url>

        </http>
        <format>
            <label>
                <pattern>app=entry-point,host=${HOSTNAME}</pattern>
            </label>
            <message class="com.github.loki4j.logback.JsonLayout">
                <loggerName>
                    <fieldName>class</fieldName>
                    <targetLength>20</targetLength>
                </loggerName>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>
        <logger name="io.micronaut.http" level="TRACE" />
    <root level="info">
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="LOKI"/>-->
    </root>
</configuration>
